* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "header header header" "main main main" "playlist playlist playlist" "band-summary-image band-summary-image band-summary-text" "member-1 member-2 member-3" "next-date next-date next-date" "footer footer footer";
}

.grid-header {
    grid-area: header;
    /* background-color: aqua; */
}

.grid-main {
    grid-area: main;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/chvrches_chad_kamenshine_8.jpg");
    /* Add the blur effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.hero-title {
    width: auto;
    padding: 3rem;
}

.hero-text {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2rem;
    max-width: 80%;
}

.grid-main * {
    margin: 1rem 0rem;
}

.grid-spotify-playlist {
    grid-area: playlist;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6)), url("../img/screenViolence.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.grid-spotify-playlist iframe {
    width: 50%;
    min-height: 500px;
    border: none;
}

.grid-band-summary-image {
    grid-area: band-summary-image;
    background-image: url('../img/chvrches-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    height: 100vh;
}

.grid-band-summary-text {
    grid-area: band-summary-text;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid-band-summary-img {
    width: 100%;
}

.grid-band-summary-text p {
    width: 100%;
    padding: 1rem;
}

.grid-band {
    padding: 1rem 0rem;
}

.grid-band-members-1,
.grid-band-members-2,
.grid-band-members-3 {
    position: relative;
    grid-area: member-1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
    background-color: rgb(22, 22, 22);
}

.band-member-background:before {
    content: "";
}

.band-member-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.band-member-background-1 {
    background-image: url('../img/bandMembers/Iain_Cook.jpg');
    width: 100%;
    filter: blur(5px);
    z-index: 1;
}

.band-member-background-2 {
    background-image: url('../img/bandMembers/band_2.jpg');
    width: 100%;
    filter: blur(5px);
    z-index: 1;
}

.band-member-background-3 {
    background-image: url('../img/bandMembers/Martin_Clifford_Doherty.jpg');
    width: 100%;
    filter: blur(5px);
    z-index: 1;
}

.band-member-information {
    padding: 2rem 0rem;
    width: 90%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    overflow: hidden;
    z-index: 2;
    margin-bottom: 22px;
}

.band-member-information .band-member-image {
    width: 100%;
    overflow: hidden;
}

.band-member-information .band-member-about {
    width: 100%;
    overflow: hidden;
}

.grid-band-members-2 {
    grid-area: member-2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-band-members-3 {
    grid-area: member-3;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grid-band-members-1 img,
.grid-band-members-2 img,
.grid-band-members-3 img {
    margin: 1rem 0rem;
    width: 80%;
}

.grid-band-members-1 p,
.grid-band-members-2 p,
.grid-band-members-3 p {
    width: 80%;
    padding: 1rem;
}

.next-date {
    grid-area: next-date;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../img/chvrches-wallpaper_Wallpaper-anyone-chvrches.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.date-container {
    padding: 2rem 2rem;
    display: inline-block;
    width: fit-content;
}

.grid-footer {
    grid-area: footer;
    padding: 2rem 0rem;
}


/**/

.nav-link {
    color: white;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-decoration: none;
    background: rgba(0, 0, 0, 1);
    padding: 20px 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    transition: all 0.5s;
    line-height: 4.22rem;
}

.nav-link:hover {
    background: rgba(0, 89, 147, 0.8);
}


/* Now we start flexing... */

.flex-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

.flex-nav li {
    flex: 3;
    flex-basis: 100%;
}

.flex-nav .social {
    flex: 1;
}

@media all and (min-width:500px) {
    .flex-nav li {
        flex-basis: 50%;
    }
    .flex-nav .social {
        flex-basis: 25%;
    }
}

@media all and (min-width: 1000px) {
    .flex-nav li {
        flex-basis: auto;
    }
    .flex-nav .social {
        flex-basis: auto;
    }
}

@media screen and (max-width:768px) {
    .grid-container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-areas: "header" "main" "playlist" "band-summary-image" "band-summary-text" "member-1" "member-2" "member-3" "next-date" "footer";
    }
    .grid-spotify-playlist iframe {
        width: 100%;
        min-height: 400px;
    }
    .iframe-playlist {
        grid-area: playlist;
    }
    .grid-band {
        min-height: 1100px;
    }
    .band-member-information {
        padding: 0;
        height: max-content;
    }
    .next-date {
        height: auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .date-container {
        width: 100%;
    }
}